.mainBackground{
    min-width: 100%;
    min-height: 100vh;
    background: url('./images/mainPic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;

}
.mainWrapper {
    display: flex;
    flex-direction: column;
    z-index: 2;
    height: 100vh;
    width: 100%;
}

.header{
    width: 100%;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    height: 55px;
    z-index: 3;
    margin-top: 64px;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
}

/* TODO: consolidate nameWrapper and resumeWrapper */
.nameWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 100%;
    margin-left: 8%;
    padding: 0 10px;
}

.resumeWrapper{
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
}
/* TODO: make the tint go behind the text (so the text remains white) */
.header > .nameWrapper:hover{
    background: #000000;
    opacity: .4;
    z-index: 2;
}
.header > .rightHeaderWrapper > .resumeWrapper:hover{
    background: #000000;
    opacity: .4;
    z-index: 2;
}

.resume{
    height: 24px;
    text-decoration: none;
    color: white;
}


#githubIcon{
    background: url('./images/logos/githubIcon.png');
    background-size: cover;
    background-repeat: no-repeat;
 }
#linkedInIcon{
    background: url('./images/logos/linkedinIcon.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#emailIcon{
    background: url('./images/logos/emailIcon.png');
    background-size: cover;
    background-repeat: no-repeat;
 }

.iconWrapper{
    width: 124px;
    padding-right: 24px;
    display: flex;
    justify-content: space-around;
}
.rightHeaderWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
}
.headerIcon{
    width: 24px;
    height: 24px;
    z-index: 3;
}

.pageContent{
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContent{
    width: 20%;
    min-width: 360px;
    height: 40%;
    min-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: -150%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    z-index: 2;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFF;
}

.mainContent:target{
    margin-left: 20%;
}

.titleWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.title{
    font-size: 24px;
}
.detailContent{
    flex-grow: 1;
    margin: 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#adjectives{
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 24px;
}

.main{
    background: blue;
}
.about{
    background: purple;
}
.projects{
    background: yellow;
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    margin-bottom: 36px;
    margin-top: 20px;
}

.navLink{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    opacity: 1;
}
/* TODO: make the tint go behind the text (so the text remains white) AND make this work */
.navigation > div > .navLink:hover{
    background: #000;
    opacity: .8;
    z-index: 2;
}


.footer{
    position: absolute;
    bottom: 0;
    background: #000;
    color: #FFF;
    opacity: .7;
    z-index: 3;
    font-size: 12px;
}

html body {
    height: 100%;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: Arial;

}

.tintProvider{
    z-index: 1;
    background-color: #000000;
    opacity: .25;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}